[submodule "vim/pack/bowsplinter/start/nerdtree"]
	path = vim/pack/bowsplinter/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/bowsplinter/start/vim-surround"]
	path = vim/pack/bowsplinter/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/bowsplinter/start/vim-repeat"]
	path = vim/pack/bowsplinter/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/bowsplinter/start/vim-commentary"]
	path = vim/pack/bowsplinter/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/bowsplinter/start/loupe"]
	path = vim/pack/bowsplinter/start/loupe
	url = https://github.com/wincent/loupe.git
[submodule "vim/pack/bowsplinter/start/scalpel"]
	path = vim/pack/bowsplinter/start/scalpel
	url = https://github.com/wincent/scalpel.git
